<div>
    <div class="perIsEditAndEmpty">no content defined for component</div>
	<div class="row">
		<h2 class="text-center col-12 pb-4">Tabs</h2>
		<h3 class="text-center col-12 pb-4">subtitle</h3>
	</div>
	
	<div class="row">
	    <themeclean-components-media :model="model"></themeclean-components-media>
		<div class="col-12 col-md pt-3 d-flex flex-column justify-content-center">
			<!-- Tab Nav -->
			<div class="nav nav-pills d-flex justify-content-center" id="myTab" role="tablist" style="margin-left: 2em">
				<ul class="nav nav-pills d-flex justify-content-center" id="myTab" role="tablist">
		            <li class="nav-item">
		              <a class="nav-link active" id="tab-control-1" data-toggle="pill" href="#tabmedia1" role="tab" aria-controls="tabmedia1" aria-expanded="true">TabName1</a>
		            </li>
		            <li class="nav-item">
		              <a class="nav-link" id="tab-control-2" data-toggle="pill" href="#tabmedia2" role="tab" aria-controls="tabmedia2">TabName2</a>
		            </li>
		        </ul>
			</div>
			<!-- Tab Content -->
			<div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tabmedia1" role="tabpanel" aria-labelledby="tabmedialabel1">
              <div class="text-center py-5">
                Nihil laborum aspernatur rerum harum ut eos consequatur incidunt. Modi vel inventore aut a. Porro sint doloribus. Sequi possimus
                quis fugit. Doloremque quam corporis voluptatibus voluptatem sunt eos distinctio magnam aperiam. Est ad voluptatem
                voluptate consequatur at magni qui id et.
              </div>
            </div>
            <div class="tab-pane fade" id="tabmedia2" role="tabpanel" aria-labelledby="tabmedialabel2">
              <div class="text-center py-5">
                Natus cumque et repellendus cupiditate commodi officia aut nihil. Repellendus rerum rem minima nisi enim soluta. Eligendi
                et animi ad dolorem qui dignissimos ratione cumque ratione.
              </div>
            </div>
          </div>
		</div>
	</div>  
</div>  