<div>
    <div v-if="experiences.view === 'layout'">
        <iframe v-bind:src="layoutView"></iframe>
    </div>
    <div v-if="experiences.view === 'component'">
        <ul>
            <li v-for="item in componentList"><hr/>
                <div class="row">
                    <div class="col m12 s12">{{item.path}} {{listExperiences(item)}}</div>
                    <div class="col m6 s12">
                        <experiences-components-reference v-bind:model="{ ref: item.path }"></experiences-components-reference>
                    </div>
                    <div class="col m6 s12">
                        {{modelFor(item).path}}
                        <vue-form-generator v-bind:model="modelFor(item)"
                                            v-bind:schema="schemaFor(item)"
                                            v-bind:options="{
                                                                validateAfterLoad: true,
                                                                validateAfterChanged: true,
                                                                focusFirstField: true
                                                            }">
                        </vue-form-generator>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div v-if="editing">
        <admin-components-editor v-bind:model="{ component: 'admin-components-editor' }"></admin-components-editor>
    </div>
</div>