<div class="row col-12 col-md-8 p-0 d-flex align-items-center justify-content-center flex-wrap article">

  <div class="col-12 col-lg-auto pb-3 p-lg-0 px-lg-3">
    <img src="/content/themeclean/assets/images/jumbotron.jpg" width="100%">
  </div>
  <div class="col-12 col-md">
    Reprehenderit neque laudantium est sit omnis molestias et. Eaque atque qui voluptatem et molestias maiores autem. Quis velit
    rerum et similique nesciunt ah aut. Porro nostrum exercitationem. Et molestiae neque sunt amet voluptas debitis. Distinctio
  </div>
  <div class="perIsEditAndEmpty">no content defined for component</div>
</div>