# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with this
# work for additional information regarding copyright ownership. The ASF
# licenses this file to You under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations under
# the License.

scripts=[\
"
# This Repoinit Script is here to make sure that during an upgrade the necessary users
# and permissions are available
#
# ATTENTION: because of creating users and groups with path this script depends on org.apache.sling.jcr.repoinit-1.1.10
#

# set ACL's for all_tenants group on paths lower than root 
# Note: this replaces jcr:read for everyone on root
    set ACL for all_tenants
        allow jcr:read on /index.html
        allow jcr:read on /favicon.ico
        allow jcr:read on /robots.txt
        allow jcr:read on /perapi/admin
        allow jcr:read on /apps
        allow jcr:read on /i18n
        allow jcr:read on /content
    end

"\
]
