    <div class="container">
      <div class="row">
        <h1>Configure Here</h1>
        <div class="card p-3 col-12 col-md border-0">
            <img class="card-img pb-3" src="/content/assets/pcmsstock/images/peregrine-logo.png">
            <div>
              <h5 class="pb-2">Odit</h5>
              <p>
                Maxime aperiam tempora sunt reprehenderit sapiente. Odit perspiciatis itaque sed. Dolores est et. Saepe cum libero eius. Qui omnis omnis. In vero delectus molestiae eum optio.
              </p>
              <div class="text-center">
                <a href="#" class="btn btn-lg btn-primary">Click Me</a>
              </div>
            </div>
        </div>

        <div class="card p-3 col-12 col-md border-0">
            <img class="card-img pb-3" src="/content/assets/pcmsstock/images/peregrine-logo.png">
            <div>
              <h5 class="pb-2">Odit</h5>
              <p>
                Maxime aperiam tempora sunt reprehenderit sapiente. Odit perspiciatis itaque sed. Dolores est et. Saepe cum libero eius. Qui omnis omnis. In vero delectus molestiae eum optio.
              </p>
            </div>
        </div>
  
        <div class="card p-3 col-12 col-md border-0">
            <img class="card-img pb-3" src="/content/assets/pcmsstock/images/peregrine-logo.png">
            <div>
              <h5 class="pb-2">Odit</h5>
              <p>
                Maxime aperiam tempora sunt reprehenderit sapiente. Odit perspiciatis itaque sed. Dolores est et. Saepe cum libero eius. Qui omnis omnis. In vero delectus molestiae eum optio.
              </p>
            </div>
        </div>

      </div>
    </div>