.idea
.vscode
aemdc-files/
target/
*.iml
*DoNotIncludeInGit.*
.classpath
.project
.settings/
node
node_modules
!sling/auth
sling/!auth
out
#package-lock.json
npm-debug.log
.DS_Store
*.factorypath
nohup.out
launcher
