.debugger {
	z-index: $zindexDebugger;
	position: fixed; 
	bottom: 60px; 
	left: 0;
	.toggle-debugger {
		width: 2.5rem; 
		height: 2.5rem; 
		position: absolute;
		&.show-debugger {
			position: fixed;
			bottom: 0;
			left: 0;
			background-color: color("blue-grey", "darken-3");
			border: none;
			border-left: 0;
			color: #fff;
			border-top-right-radius: 0.375rem;
			text-align: center;
			transition: background-color .25s;
			.material-icons {
				font-size: 2rem;
				line-height: 2.5rem;
			}
			&:hover,
			&:focus,
			&:active {
				background-color: color("blue-grey", "darken-2");
			}
		}
		&.hide-debugger {
			z-index: 1;
			color: #fff;
			top: 0.75rem;
			right: 0.75rem;
			left: auto;
			bottom: auto;
			.material-icons {
				font-size: 2.5rem;
			}
		}
	}

	a {
	    color: #fff;
	}

	.debugger-content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		background-color: color("blue-grey", "darken-3");
		.row {
			height: 100%;
		}
		.debugger-levels {
			height: 100%;
			overflow: auto;
			.collection {
				border-color: color("blue-grey", "lighten-4");
				.collection-item {
					background: none;
					border-color: color("blue-grey", "lighten-4");
					.logger-level {
						cursor: pointer;
						color: #ffb300;
						padding-left: 0.75rem;
						text-decoration: none;
						&:hover,
						&:focus,
						&:active {
							text-decoration: underline;
						}
					}
				}
			}
		}
		.debugger-object-view {
			height: 100%;
			overflow: auto;
			code pre {
				font-family: "Inconsolata-g", Consolas, "Source Code Pro", Monaco, Menlo, monospace;
			}
			ul.list-inline {
				padding-bottom: 0.75rem;
				border-bottom: 1px solid color("blue-grey", "lighten-4");
				> li {
					padding-right: 0.75rem;
					> a {
						display: inline-block;
						cursor: pointer;
						padding: 0.25rem 0.75rem;
						border: 1px solid color("blue-grey", "lighten-4");
						color: color("blue-grey", "lighten-4");
						border-radius: 20px;
						&.active {
							border-color: #fff;
							color: #fff;
						}
						&:hover,
						&:focus,
						&:active {
							border-color: #fff;
						}
					}
					&:last-child {
						padding-right: 0;
					}
				}
			}
		}
	}
	&.visible {
		bottom: 0; 
		left: 0; 
		top: 0; 
		right: 0; 
		height: 100%; 
		width: 100%; 
		overflow-y: scroll; 
		background-color: color("blue-grey", "darken-3"); 
		color: white;
	}
}