.explorer {
	overflow: hidden;
	.explorer-layout {
		clear: both;
		width: 100%;
    height: 100%;
		.row {
			margin-bottom: 0;
			.explorer-main {
				display: flex;
				flex-direction: column;
		    overflow-y: auto;
				padding: 0;
				.empty-explorer {
					flex-grow: 1;
					display: flex;
					align-items:center;
					justify-content: center;
				}
				.collection {
					border: 0;
					margin: 0;
					overflow-y: auto;
					.collection-item {
						position: relative;
						padding: 10px 10px;
						color: color("blue-grey", "darken-2");
						border-color: color("blue-grey", "lighten-4");
						&.dragging {
							cursor: grabbing;
						}
						> span.draggable {
							cursor: grab;
							&:active {
								cursor: grabbing;
							}
						}
						> span > a {
							color: color("blue-grey", "darken-2");
							&:hover,
								&:focus,
								&:active {
									color: color("blue-grey", "darken-4");
								}
						}
						.material-icons {
							vertical-align: middle;
						}
						.svg-icon {
							width: 22px;
							padding-bottom: 22px;
							.svg-content {
								transition: fill 0.3s ease;
								fill: color("blue-grey", "darken-2");
							}
							&:hover {
								.svg-content {
									fill: color("orange", "base");
								}
							}
						}
						&:hover,
						&:focus,
						&:active {
							color: color("blue-grey", "darken-4");
							background-color: color("blue-grey", "lighten-5");
						}
						&:last-child {
							border-bottom: 0;
						}
						&.explorer-item-selected {
							color: color("blue-grey", "darken-4");
					    background-color: color("blue-grey", "lighten-5");
						}
						&.drop-after {
							border-bottom: 1px solid color("orange", "lighten-2") !important;
						}
						&.drop-before {
							border-top: 1px solid color("orange", "lighten-2") !important;
							margin-top: -1px;
						}
						.secondary-content {
							color: $primary-color-dark;
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							padding: 0.75rem 0;
							span {
								display: inline-block;
								> a {
									color: color("blue-grey", "darken-2");
									vertical-align: middle;
									display: inline-block;
									padding: 0 0.75rem;
									border-left: 1px solid color("blue-grey", "lighten-4");
									transition: color .3s ease;
									&:hover {
										color: color("orange", "base");
									}
								}
							}
						}
					}
				}
			}
		}
	}

	/* tablet styles */
	@media #{$medium-and-up} {
		position: absolute;
		top: $nav-full-height;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		.explorer-layout {
			max-width: 1400px;
			margin: 0 auto;
			.row {
				height: 100%;
				.explorer-main {
					height: 100%;
				}
			}
		}
	}
}
