.explorer {
	overflow: hidden;
	.explorer-layout {
		clear: both;
		width: 100%;
    height: 100%;
		.row {
			margin-bottom: 0;
			.explorer-main {
				display: flex;
				flex-direction: column;
		    overflow-y: auto;
				padding: 0;
				.empty-explorer {
					flex-grow: 1;
					display: flex;
					align-items:center;
					justify-content: center;
				}
				.collection {
					border: 0;
					margin: 0;
					overflow-y: auto;
					.collection-item {
						position: relative;
						padding: 10px 10px;
						color: color("blue-grey", "darken-2");
						border-color: color("blue-grey", "lighten-4");
						&.dragging {
							cursor: grabbing;
						}
						> span.draggable {
							cursor: grab;
							&:active {
								cursor: grabbing;
							}
						}
						> span > a {
							color: color("blue-grey", "darken-2");
							&:hover,
								&:focus,
								&:active {
									color: color("blue-grey", "darken-4");
								}
						}
						.material-icons {
							vertical-align: middle;
						}
						.svg-icon {
							width: 22px;
							padding-bottom: 22px;
							.svg-content {
								transition: fill 0.3s ease;
								fill: color("blue-grey", "darken-2");
							}
							&:hover {
								.svg-content {
									fill: color("orange", "base");
								}
							}
						}
						&:hover,
						&:focus,
						&:active {
							color: color("blue-grey", "darken-4");
							background-color: color("blue-grey", "lighten-5");
						}
						&:last-child {
							border-bottom: 0;
						}
						&.explorer-item-selected {
							color: color("blue-grey", "darken-4");
					    background-color: color("blue-grey", "lighten-5");
						}
						&.drop-after {
							border-bottom: 1px solid color("orange", "lighten-2") !important;
						}
						&.drop-before {
							border-top: 1px solid color("orange", "lighten-2") !important;
							margin-top: -1px;
						}
						.secondary-content {
							color: $primary-color-dark;
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							padding: 0.75rem 0;
							span {
								display: inline-block;
								> a {
									color: color("blue-grey", "darken-2");
									vertical-align: middle;
									display: inline-block;
									padding: 0 0.75rem;
									border-left: 1px solid color("blue-grey", "lighten-4");
									transition: color .3s ease;
									&:hover {
										color: color("orange", "base");
									}
								}
							}
						}
					}
				}
			}
			.explorer-preview {
			  background-color: color("blue-grey", "lighten-5");
			  border-left: 1px solid color("blue-grey", "lighten-4");
			  color: color("blue-grey", "darken-4");
			  overflow: auto;
			  position: relative;
				padding: 45px 0 0;
				overflow: hidden;
				&:before {
					content: '';
					display: inline-block;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					height: 45px;
					background-color: color("blue-grey", "lighten-4");
					border-bottom: 1px solid color("blue-grey", "lighten-3");
				}
			  .toggle-fullscreen {
			  	display: inline-block;
					position: absolute;
					right: 0;
					top: 0;
					border: 0;
					background-color: color("blue-grey", "lighten-4");
					padding: 0;
					z-index: 1;
					width: 45px;
					height: 44px;
					line-height: 44px;
					text-align: center;
					.material-icons {
						line-height: 44px;
						color: color("blue-grey", "darken-3");
					}
					&:hover,
					&:focus,
					&:active {
						background-color: color("blue-grey", "lighten-3");
					}
				}
				.explorer-preview-content {
					display: flex;
					flex-direction: column;
					height: 100%;
					.vue-form-generator {
						overflow: auto;
						height: 100%;
						padding: 0 0.75rem;
					}
					.explorer-confirm-dialog {
						padding: 0.75rem;
						min-height: 55px;
						max-height: 55px;
						display: flex;
						align-items: center;
						justify-content: flex-end;
					}
					.explorer-preview-empty {
						padding: 3rem 0 0;
						text-align: center;
						> span {
							display: inline-block;
							width: 100%;
						}
						.material-icons {
							color: color("blue-grey", "lighten-2");
							font-size: 80px;
						}
					}
					.explorer-asset-referenced-by {
						color: $primary-color-dark;
						.svg-icon {
							.svg-content {
								fill: color("blue-grey", "darken-2");
								transition: fill .3s ease;
							}
							&:hover {
								.svg-content {
									fill: color("orange", "base");
								}
							}
						}
					}
					&.preview-asset {
						.asset-info {
							font-size: 1rem;
							> li {
								.asset-name {
									padding-right: 0.75rem;
									font-weight: 500;
								}
								.asset-value {
									font-weight: 400;
								}
							}
						}
						.asset-info-view {
							display: flex;
							flex-direction: column;
							overflow: auto;
							height: 100%;
							.vue-form-generator {
								overflow: visible;
							}
							img {
								width: auto;
								max-width: 100%;
								height: auto;
								max-height: 50%;
								align-self: center;
							}
							iframe {
								border: 0;
								max-width: 100%;
								height: 100%;
							}
						}
					}
					&.preview-object {

					}
					&.preview-page {

					}
				}
      	&.fullscreen {
      		position: fixed;
      		top: 104px;
      		right: 0;
      		left: 0;
      		bottom: 0;
      		width: 100%;
      		padding: 45px 0 0;
      	}
      	.explorer-preview-nav {
					display: flex;
					justify-content: flex-end;
      		text-align: right;
					position: absolute;
					overflow: hidden;
			  	top: 0;
			  	left: 0;
			  	right: 45px;
			  	margin: 0;
			  	padding: 0;
			  	height: 45px;
					border-right: 1px solid color("blue-grey", "lighten-5");
			  	> li {
			  		border-left: 1px solid color("blue-grey", "lighten-5");
			  		border-right: 1px solid color("blue-grey", "lighten-3");
			  		height: 100%;
			  		line-height: 45px;
			  		&:first-child {
			  			border-left: none;
			  		}
			  		> a {
							padding: 0 0.75rem;
							height: 100%;
			  			display: inline-block;
							.material-icons,
							.svg-icon {
			  				line-height: 45px;
							}
							.svg-icon {
								.svg-content {
									stroke: color("blue-grey", "darken-3");
								}
							}
							&:hover,
							&:focus,
							&:active {
								background-color: color("blue-grey", "lighten-3");
							}
			  		}
			  	}
				}
			}
		}
	}

	/* tablet styles */
	@media #{$medium-and-up} {
		position: absolute;
		top: 112px;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
		.explorer-layout {
			max-width: 1400px;
			margin: 0 auto;
			.row {
				height: 100%;
				.explorer-main {
					height: 100%;
				}
				.explorer-preview {
					height: 100%;
					&.fullscreen {
						top: 112px;
						padding-bottom: 112px;
						.explorer-preview-content {
							padding: 0 10%;
						}
					}
				}
			}
		}
	}
	@media #{$large-and-up} {
		.explorer-layout {
			.row {
				.explorer-preview {
					&.fullscreen {
						.explorer-preview-content {
							padding: 0 20%;
						}
					}
				}
			}
		}
	}
	@media #{$extra-large-and-up} {
		.explorer-layout {
			.row {
				.explorer-preview {
					&.fullscreen {
						.explorer-preview-content {
							padding: 0 30%;
						}
					}
				}
			}
		}
	}
}
