body {
	max-width: 100%;
	overflow-x: hidden;
}
ul.list-inline {
	display: inline-block;
	> li {
		display: inline-block;
	}
}
dl {
	margin: 0;
	padding: 0;
	> dt,
	> dd {
		margin: 0;
		padding: 0;
	}
}

.browser-default {
	a {
		color: #b85300;
	}
}

.btn-link {
	border: 0;
	background: none;
	padding: 0.75rem;
	&:hover,
	&:focus,
	&:active {
		background: none;
	}
}

/* vue  fade transitions */
.fade-enter-active, .fade-leave-active {
  -webkit-transition: opacity .15s ease-out;
  -moz-transition: opacity .15s ease-out;
  -ms-transition: opacity .15s ease-out;
  transition: opacity .15s ease-out;
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}

.svg-icon { 
	display: inline-block;
	position: relative;
	width: 24px;
	padding-bottom: 24px; 
	line-height: 1em;
	vertical-align: middle; 
	overflow: hidden; 
	.svg-content { 
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		pointer-events: none;
	}
}

.clearfix:before,
.clearfix:after {
        display: table;
        content: " ";
}

.clearfix:after {
    clear: both;
}

a[title='ignore-containers'] {
	display: none;
}
