.modal-mask .modal-wrapper {
  .pathbrowser.iconbrowser {
    padding-top: 96px;
    &.modal-container {
      padding-top: 96px;
      .iconbrowser-header {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: transparent;
        height: 96px;
        width: auto;
        white-space: nowrap;
        z-index: 10;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        .iconbrowser-options {
          display: inline-block;
          float: left;
          height: 48px;
          margin: 0;
          list-style: none;
          width: 15%;
          .multiselect {
            .multiselect__tags {
              padding-left: 0;
              input {
                padding-left: 0.75rem;
                width: 100%;
              }
            }
          }
        }
        .iconbrowser-filter {
          display: inline-block;
          float: left;
          width: 85%;
          height: 48px;
          > input {
            width: 100%;
            height: 47px;
            border-left: 0;
            border-right: 0;
          }
        }
        .range-field {
          position: absolute;
          top: 48px;
          left: 0;
          right: 0;
          margin: 0;
          padding: 0.75rem;
          height: 48px;
          > input {
            padding-left: 0;
            width: 100%;
          }
        }
      }
      .modal-content {
        top: 96px;
        .col-browse {
          width: 100%;
          padding: 0.75rem 0.75rem 0 0;
          .item-icon {
            position: relative;
            float: left;
            margin: 0 0 0.75rem 0.75rem;
            cursor: pointer;
            width: auto;
            max-width: 100%;
            text-align: center;
            background-color: color("blue-grey", "lighten-5");
            .item-content {
              width: 100%;
              color: color("blue-grey", "darken-2");
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              padding: 0.75rem;
              i {
                color: color("blue-grey", "darken-1");
              }
              > .truncate {
                width: 100%;
              }
            }
            &.selected {
              background-color: color("blue-grey", "base");
              .item-content {
                i,
                > .truncate {
                  color: color("blue-grey", "lighten-5");
                }
              }
            }
          }
        }
      }
      .modal-footer {
        .selected-path {
          > i {
            vertical-align: middle;
            font-size: 2em;
            padding-right: 0.75rem;
          }
        }
      }
    }
    
    /* tablet styles */
    @media #{$medium-and-up} {
      &.modal-container {
        .modal-content {
          .col-browse {
            width: 100%;
          }
        }
      }
    }
  }
}

