#login-page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #000000;
    background-color: var(--pcms-blue-grey-darken-3);
  }

  a {
    text-decoration: none;
  }

  .top-bar {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      color: var(--pcms-gray);
    }

    .help {
      color: var(--pcms-gray);
      font-size: 18px;
      padding: 15px;
      font-weight: 300;
    }
  }


  #main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .login-wrapper {
      width: 85%;
      min-width: 600px;
      border-radius: 15px;
      background-color: #ffffff;
      height: 650px;
      display: flex;
    }

    .login-image {
      width: 55%;
      border-radius: 15px 0 0 15px;
      background-image: url('/etc/felibs/admin/login-image.png');
      background-size: cover;
      background-position: center;
    }

    .login-form-wrapper {
      width: 45%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #loginform {
      width: 75%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .title {
        font-size: 32px;
        margin: 0 0 10px;
        font-weight: 900;
      }

      .form-control {
        padding: 5px;
        width: 90%;
        position: relative;

        label {
          position: absolute;
          opacity: 0;
          width: 100%;
          height: 100%;
        }
      }

      input[type="text"],
      input[type="password"] {
        border: 1px solid #e7e7e7;
        border-radius: 7px;
        padding: 10px 15px;
        width: 100%;
        height: 50px;
        font-size: 16px;
        margin: 0;

        &:focus {
          outline: none;
          border-color: #adadad;
        }

        &::placeholder {
          color: silver
        }
      }

      .remember-me-forgot-password {
        display: flex;
        justify-content: space-between;
        height: 35px;
        margin-top: 0;
        padding-top: 0;
        font-size: 14px;
        font-weight: 500;

        a {
          color: var(--pcms-orange);
        }

        .remember-me {
          position: relative;
          height: 100%;
          display: flex;
          align-items: center;

          input[type="checkbox"] {
            position: absolute;
            top: 5px;
            right: -29px;
            opacity: 0;
            width: 17px;
            height: 17px;
            z-index: 100;

            + span::after {
              content: '';
              position: absolute;
              top: 4px;
              right: -25px;
              width: 17px;
              height: 17px;
              z-index: 0;
              border: 1px solid var(--pcms-orange);
              border-radius: 5px;
              margin-top: 3px;
              -webkit-transition: .2s;
              transition: .2s;
            }

            &:checked + span::after {
              top: 3px;
              right: -13px;
              width: 10px;
              height: 15px;
              border-top: 2px solid transparent;
              border-left: 2px solid transparent;
              border-right: 2px solid var(--pcms-orange);
              border-bottom: 2px solid var(--pcms-orange);
              -webkit-transform: rotate(40deg);
              transform: rotate(40deg);
              -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
              -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
              border-radius: 3px;
            }
          }
        }

        .forgot-password {
          display: flex;
          align-items: center;
        }
      }

      #login {
        color: #ffffff;
        background-color: var(--pcms-orange);
        width: 100%;
        padding: 12px 20px;
        border: none;
        border-radius: 7px;
        margin-top: 30px;
        font-weight: 600;
        font-size: 18px;
        transition: background-color .35s ease-in;

        &:hover {
          background-color: var(--pcms-orange-hover);
        }
      }

      #err {
        color: red;
      }

      .sign-up-wrapper {
        text-align: center;
        margin-top: 40px;
        font-size: 14px;
        color: var(--pcms-gray);

        a {
          color: var(--pcms-orange);
        }
      }
    }

    .legal {
      padding: 50px;
      text-align: center;
      width: 100%;

      a {
        color: var(--pcms-gray);
        font-size: 16px;
      }

      .separator {
        width: 0;
        height: 5px;
        border-left: 1px solid #ffffff;
        margin: 0 10px 0 9px;
      }
    }
  }

  /**
   * small screen styling
   */
  @media #{$small-and-down} {
    #main {
      .login-wrapper {
        min-width: 300px;
        height: 400px;

        .login-image {
          display: none;
        }

        .login-form-wrapper {
          width: 100%;
        }
      }
    }
  }
}