nav {
  ul a {
    display: inline-block;
    height: calc(100% - 2px);
  }

  &.nav-extended {
    position: relative;
  }

  .nav-wrapper {
    display: flex;
    justify-content: center;

    a {
      display: block;
    }

    .nav-link {
      border-bottom: 3px solid transparent;
      background-color: transparent;
      transition: border-color .35s ease-out, backgorund-color .35s ease-out;

      &.active {
        border-bottom-color: var(--pcms-orange);

        &:hover {
          border-bottom-color: var(--pcms-orange-hover);
        }
      }

      .no-mobile {
        @media #{$medium-and-down} {
          display: none;
          visibility: hidden;
          opacity: 0;
        }
      }
    }

    .nav-left {
      display: flex;
      align-items: center;
      margin-right: auto;
      padding-top: 3px;

      .current-tenant-name {
        height: 100%;
        border-bottom: 0;

        > a {
          font-weight: 800;
          padding: 0 1rem;
          display: flex;
          height: 100%;
          align-items: center;

          &:after {
            content: '▼';
            margin-left: .5rem;
            font-size: 8px;
          }

          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
      }

      .current-tenant-settings {
        cursor: pointer;

        &:hover {
          color: var(--pcms-orange);
        }

      }
    }

    .nav-center {
      display: flex;
      align-items: center;
    }

    .nav-right {
      display: flex;
      align-items: center;
      margin-left: auto;

      .icon-link {
        padding: 0 .5rem;
      }

      .user-link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 5px;
        border-bottom: 0;

        > a {
          padding: 0;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            background-color: transparent;
          }
        }

        .user-circle {
          background-color: var(--pcms-orange);
          border-radius: 100%;
          width: 40px;
          display: flex;
          height: 40px;
          align-items: center;
          justify-content: center;
          color: #ffffff;

          &.big {
            width: 160px;
            height: 160px;
            margin-bottom: 1.4rem;

            .material-icons {
              font-size: 150px;
            }

            &:hover {
              background-color: var(--pcms-orange);
            }
          }

          &:hover {
            background-color: var(--pcms-orange-hover);
          }
        }
      }

      .more-link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        border-bottom-width: 0;

        > a {
          padding: 0 .5rem;

          .material-icons {
            margin-top: 4px;
          }
        }
      }
    }

    .materialize-modal {
      .modal-spacer {
        height: 200px;
        width: 100%;
      }
    }

    .brand-logo {
      font-weight: 300;
      width: 48px;
      height: 48px;
      fill: var(--pcms-orange);
      margin-left: .5rem;

      &:hover {
        svg {
          fill: var(--pcms-orange-hover);
        }
      }
    }

    .multiselect {
      .multiselect__select {
        top: 26px;
        right: 15px;
        padding: 0 15px;

        &:before {
          color: var(--pcms-blue-grey-darken-3);
          font-size: 8px;
        }
      }

      .multiselect__tags {
        cursor: pointer;
        background: none;
        padding-left: 15px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover,
        &:focus,
        &:active {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }

      .multiselect__single {
        background: none;
        min-width: 30px;
      }

      &.multiselect--active {
        .multiselect__tags {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }

    .nav-mobile {
      .tenant-select {
        min-width: 150px;
      }

      .multiselect {
        .multiselect__placeholder {
          margin: 0;
          padding: 0;
        }

        .multiselect__tags {
          min-height: 64px;
        }
      }
    }
  }

  .sub-nav {
    min-height: 48px;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;

    > span,
    > div {
      padding: 4px 0;
    }

    &.navright {
      justify-content: flex-end;
    }

    &.navcenter {
      justify-content: center;
    }

    > span {
      display: inline-block;
      padding-right: 10px;
      vertical-align: middle;

      > a.btn-floating {
        .material-icons {
          line-height: 40px;
          height: 100%;
        }
      }

      &:only-of-type {
        margin-left: 100px;
      }
    }

    .pathfield {
      text-align: left;
      padding-left: 0.75rem;
      line-height: 20px;
      vertical-align: middle;
      margin-right: auto;

      > span {
        > a {
          &:hover,
          &:focus,
          &:active {
            text-decoration: underline;
          }
        }
      }
    }

    .page-tree {
      margin-right: auto;
      margin-left: 1rem;
      height: 48px;
      display: flex;
      justify-content: left;
      align-items: center;
      padding: 0;
      width: $sub-nav-page-tree-width;

      .materialize-drop-down {
        display: flex;
        width: 100%;
        height: 100%;

        > a {
          display: flex;
          width: 100%;
          height: 100%;
          justify-content: left;
          align-items: center;

          .caret-down:before {
            content: '▼';
            margin-left: .5rem;
            margin-top: 1px;
            font-size: 8px;
            display: flex;
            height: 100%;
          }
        }

        .dropdown-content {
          padding: .5rem;
          user-select: none;

          > .page-tree-item {
            padding-left: 0 !important;
          }

          .page-tree-item {
            justify-content: left;
            align-items: flex-start;
            flex-direction: column;
            min-height: unset;
            padding-left: 19px;
            color: #455a64;
            border-color: #cfd8dc;

            &:hover {
              background-color: transparent;
            }

            .title,
            .content {
              padding-left: 5px;
            }

            &.expandable {
              .content {
                padding-left: calc(24px + 5px);
              }
            }

            .title {
              display: flex;
              padding: .25rem 0;

              &:hover {
                color: #263238;
                background-color: #eceff1;
              }

              &.is-selected {
                font-weight: 800;
              }

              .material-icons {
                height: auto;
                line-height: unset;

                &.hover:hover {
                  color: var(--pcms-orange-hover)
                }

                &:last-child {
                  margin-right: 1rem;
                }
              }

              .icon-placeholder {
                width: 24px;
                height: 1px;
              }
            }
          }
        }
      }
    }

    .center-keeper {
      width: $sub-nav-page-tree-width;
      margin-right: auto;
    }
  }

  @media(min-width: 601px) {
    .nav-wrapper {
      .brand-logo {
        > span {
          > a {
            &.peregrine-logo {
              svg {
              }
            }
          }
        }
      }
    }
  }
}
