nav {
  &.nav-extended {
    position: relative;
    z-index: 1;
  }
  .nav-wrapper {
    .brand-logo {
      font-weight: 300;
      > span {
        display: inline-block;
        padding: 0 0.75rem;
        vertical-align: top;
        &:before {
          content: '\00BB';
          margin-left: -0.75rem;
          margin-right: 0.75rem;
          display: inline;
        }
        &:first-child {
          &:before {
            content: '';
          }
        }
        > a {
          display: inline-block;
          line-height: 44px;
          text-decoration: none;
          transition: color .3s ease;
          &:hover,
          &:focus,
          &:active {
            color: #ffd8a6;
          }
          &.peregrine-logo {
            svg {
              pointer-events: none;
              width: 44px;
              height: 44px;
              position: relative;
              top: 6px;
              .st0{
                fill: color("orange", "accent-2");
                transition: fill .3s ease;
              }
              &:hover {
                .st0{
                  fill: #ffd8a6;
                }
              }
            }
          }        
        }
      }
    }
  }
  .sub-nav {
    min-height: 48px;
    padding: 4px 0;
    text-align: center;
    > span {
      display: inline-block;
      padding-right: 10px;
      vertical-align: middle;
      > a.btn-floating {
        .material-icons {
          line-height: 40px;
          height: 100%;
        }
      }
      &:only-of-type {
        margin-left: 50px;
      }
    }
    .pathfield {
      text-align: left;
      display: inline-block;
      padding-left: 0.75rem;
      line-height: 20px;
      width: calc(100% - 100px);
      vertical-align: middle;
       > span {
        display: inline-block;
        height: 100%;
        > a {
          &:hover,
          &:focus,
          &:active {
            text-decoration: underline;
          }
        }
       }
    }
  }

  @media(min-width: 601px){
    .nav-wrapper {
      .brand-logo {
        > span {
          > a {
            &.peregrine-logo {
              svg {
                top: 10px;
              }
            }
          }
        }
      }
    }
  }

}
