nav {
  ul a {
    display: inline-block;
    height: calc(100% - 2px);
  }

  &.nav-extended {
    position: relative;
  }

  .nav-wrapper {
    display: flex;
    justify-content: center;
    height: 67px;

    a {
      display: block;
    }

    .nav-link {
      border-bottom: 3px solid transparent;
      background-color: transparent;
      transition: border-color .35s ease-out, backgorund-color .35s ease-out;

      &.active {
        border-bottom-color: var(--pcms-orange);

        &:hover {
          border-bottom-color: var(--pcms-orange-hover);
        }
      }

      .no-mobile {
        @media #{$medium-and-down} {
          display: none;
          visibility: hidden;
          opacity: 0;
        }
      }
    }

    .nav-left {
      display: flex;
      align-items: center;
      margin-right: auto;
      padding-top: 3px;

      .current-tenant-name {
        height: 100%;
        border-bottom: 0;

        > a {
          font-weight: 800;
          padding: 0 1rem;
          display: flex;
          height: 100%;
          align-items: center;
        }
      }

      .current-tenant-settings {
        cursor: pointer;

        &:hover {
          color: var(--pcms-orange);
        }

      }
    }

    .nav-center {
      display: flex;
      align-items: center;
      padding-top: 8px;
    }

    .nav-right {
      display: flex;
      align-items: center;
      margin-left: auto;

      .icon-link {
        padding: 0 .5rem;
      }

      .user-link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 5px;
        border-bottom: 0;

        > a {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .user-circle {
          background-color: var(--pcms-orange);
          border-radius: 100%;
          width: 40px;
          display: flex;
          height: 40px;
          align-items: center;
          justify-content: center;
          color: #ffffff;

          &.big {
            width: 160px;
            height: 160px;
            margin-bottom: 1.4rem;

            .material-icons {
              font-size: 150px;
            }

            &:hover {
              background-color: var(--pcms-orange);
            }
          }

          &:hover {
            background-color: var(--pcms-orange-hover);
          }
        }
      }

      .more-link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        border-bottom-width: 0;

        > a {
          padding: 0 .5rem;

          .material-icons {
            margin-top: 4px;
          }
        }
      }
    }

    .dropdown-content {
      border: 1px solid var(--pcms-blue-grey-darken-3);
      min-width: 200px;

      .header {
        cursor: default;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem 0 2rem 0;
        margin-bottom: 2rem;
        background-color: rgba(0, 0, 0, .025);
        border-bottom: 1px solid rgba(0, 0, 0, .3);

        &:hover {
          background-color: rgba(0, 0, 0, .025);
        }
      }

      .item {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &.disabled {
          cursor: default;
          background: none !important;
          color: var(--pcms-gray);
        }

        .material-icons {
          margin-left: .5rem;
          margin-right: auto;
        }

        .center-keeper {
          margin-right: .5rem;
          margin-left: auto;
          width: 24px;
        }
      }
    }

    .materialize-modal {
      .modal-spacer {
        height: 200px;
        width: 100%;
      }
    }

    .brand-logo {
      font-weight: 300;
      width: 48px;
      height: 48px;
      fill: var(--pcms-orange);
      margin-left: .5rem;

      &:hover {
        svg {
          fill: var(--pcms-orange-hover);
        }
      }
    }

    .multiselect {
      .multiselect__select {
        top: 26px;
        right: 15px;
        padding: 0 15px;

        &:before {
          color: var(--pcms-blue-grey-darken-3);
          font-size: 8px;
        }
      }

      .multiselect__tags {
        cursor: pointer;
        background: none;
        padding-left: 15px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover,
        &:focus,
        &:active {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }

      .multiselect__single {
        background: none;
        min-width: 30px;
      }

      &.multiselect--active {
        .multiselect__tags {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }

    .nav-mobile {
      .tenant-select {
        min-width: 150px;
      }

      .multiselect {
        .multiselect__placeholder {
          margin: 0;
          padding: 0;
        }

        .multiselect__tags {
          min-height: 64px;
        }
      }
    }
  }

  .sub-nav {
    min-height: 48px;
    padding: 4px 0;
    text-align: center;
    display: flex;
    align-items: center;

    &.navright {
      justify-content: flex-end;
    }

    &.navcenter {
      justify-content: center;
    }

    > span {
      display: inline-block;
      padding-right: 10px;
      vertical-align: middle;

      > a.btn-floating {
        .material-icons {
          line-height: 40px;
          height: 100%;
        }
      }

      &:only-of-type {
        margin-left: 100px;
      }
    }

    .pathfield {
      text-align: left;
      padding-left: 0.75rem;
      line-height: 20px;
      vertical-align: middle;
      margin-right: auto;

      > span {
        > a {
          &:hover,
          &:focus,
          &:active {
            text-decoration: underline;
          }
        }
      }
    }

    .page-tree {
      margin-right: auto;
      margin-left: 1rem;
    }

    .center-keeper {
      margin-left: auto;
    }
  }

  @media(min-width: 601px) {
    .nav-wrapper {
      .brand-logo {
        > span {
          > a {
            &.peregrine-logo {
              svg {
              }
            }
          }
        }
      }
    }
  }

}
