.modal-mask .modal-wrapper {
	.pathbrowser {
		&.modal-container {
			width: 80%;
			max-width: 1200px;
			padding-top: 80px;
			background-color: #fff;
			.modal-header {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				height: 32px;
				padding: 6px 10px;
				font-size: 16px;
				font-weight: bold;
				background-color: #f5f5f5;
				border-bottom: 1px solid #adadad;
				text-align: center;
			}
			.pathbrowser-tabs {
				margin: 0;
				padding: 0;
				position: absolute;
				top: 32px;
				left: 0;
				right: 0;
				background-color: transparent;
				overflow-x: auto;
				overflow-y: hidden;
				height: 48px;
				width: auto;
				white-space: nowrap;
				.tab {
					display: inline-block;
					text-align: center;
					line-height: 48px;
					height: 48px;
					padding: 0;
					margin: 0;
					text-transform: uppercase;
					a {
						color: color("blue-grey", "lighten-1");
						display: block;
						width: 100%;
						height: 100%;
						padding: 0 24px;
						font-size: 14px;
						text-overflow: ellipsis;
						overflow: hidden;
						transition: color .28s ease; 
						&:hover, 
						&.active {
							background-color: transparent;
							color: color("blue-grey", "darken-1"); 
						}
					}
				}
				.indicator {
					position: absolute;
					bottom: 0;
					height: 2px;
					background-color: color("blue-grey", "base");

					width: 72px;
					left: 0;
					will-change: transform;
					-webkit-transition: transform .25s ease;
					-moz-transition: transform .25s ease;
					-ms-transition: transform .25s ease;
					transition: transform .25s ease;
				}
				.material-icons {
					line-height: 48px;
				}
			}
			.pathbrowser-filter {
				position: absolute;
				top: 32px;
				right: 0;
				width: calc(100% - 144px);
				padding-bottom: 1px;

				input {
					height: 47px;
					border-top: 0;
					border-right: 0;
					width: 100% !important;
				}
			}
			.modal-content {
				padding: 0;
				position: absolute;
				top: 80px;
				bottom: 56px;
				left: 0;
				right: 0;
				.col-browse {
					width: 100%;
					padding: 0 0.75rem;
					.modal-content-nav {
						height: auto;
						line-height: 35px;
						background-color: color("blue-grey", "lighten-5");
						box-shadow: none;
						margin: 0 -0.75rem;
						padding: 0 0.75rem;
						width: auto;
						.modal-content-section {
							display: inline-block;
							vertical-align: top;
							.current-folder {
								display: inline-block;
								height: 35px;
								line-height: 35px;
								color: color("blue-grey", "darken-2");
								padding-right: 0.75rem;
								vertical-align: top;
								a {
									display: inline-block;
									color: color("blue-grey", "darken-2");
									vertical-align: top;
									.material-icons {
										height: 35px;
										line-height: 35px;
									}
								}
							}
							.cards-toolbar {
								display: inline-block;
								margin: 0;
								padding: 0;
								width: auto;
								height: 35px;
								line-height: 35px;
								vertical-align: top;
								> li {
									display: inline-block;
									padding-left: 0.375rem;
									.cards-toolbar-title {
										text-transform: uppercase;
										display: inline-block;
										color: color("blue-grey", "darken-3");
									}
									label {
										color: color("blue-grey", "base");
										padding-left: 1.75rem;
									}
									.btn-flat {
										background-color: color("blue-grey", "lighten-5");
										padding: 0 1.5rem;
									}
								}
								&.sort-nav {
									padding-right: 0.75rem;
								}
								&.filter-nav {
		
								}
							}
						}
					}
					.browse-list {
						margin: 0 -0.75rem;
						> li {
							position: relative;
							padding: 0.75rem 0.75rem 0.75rem 3rem;
							cursor: pointer;
							input[type="radio"] {
								+ label {
									position: absolute;
									top: 0;
									left: 0;
									bottom: 0; 
									width: 3rem;
									height: auto;
									color: color("blue-grey", "darken-2");
									&:before, 
									&:after {
										top: 0.75rem;
										left: 0.75rem;
									}
								}
							}
							.material-icons {
								color: color("blue-grey", "darken-2");
								vertical-align: bottom;
								margin-right: 0.375rem;
								+ label {
									position: relative;
									padding-left: 35px;
									cursor: pointer;
									display: inline-block;
									height: 25px;
									line-height: 25px;
									font-size: 1rem;
									transition: .28s ease;
									-khtml-user-select: none;
									/* webkit (konqueror) browsers */
									user-select: none; 
								}
							}
							&:hover,
							&:focus,
							&:active,
							&.selected {
								background-color: color("blue-grey", "lighten-5");
							}
						}
					}
					.pathbrowser-search-results {
						.search-radio {
							width: 35px;
							padding: 0 0 0 5px;
							[type="radio"]:not(:checked) + label, 
							[type="radio"]:checked + label {
								vertical-align: middle;
							}
						}
						td {
							color: color("blue-grey", "darken-2");
						}
						tr.selected {
							background-color: color("blue-grey", "lighten-5");
						}
					}
					.item-file,
					.item-folder {
						cursor: pointer;
						width: auto;
						max-width: 100%;
						margin-bottom: 15px;
						.item-select {
							position: absolute;
							top: 0;
							left: 0;
							z-index: 1;
						}
					}
					.item-folder {
						text-align: center;
						background-color: color("blue-grey", "lighten-5");
						.item-content {
							width: 100%;
							color: color("blue-grey", "darken-2");
							position: absolute;
							top: 50%;
							transform: translateY(-60%);
							padding: 0.75rem;
							.material-icons {
								color: color("blue-grey", "darken-1");
							}
							> span {
								width: 100%;
							}
						}
					}
					.item-file {
						text-align: center;
						background-color: color("blue-grey", "lighten-5");
						.item-content {
							width: 100%;
							color: color("blue-grey", "darken-2");
							position: absolute;
							top: 50%;
							transform: translateY(-60%);
							padding: 0.75rem;
							.material-icons {
								color: color("blue-grey", "darken-1");
							}
							> span {
								width: 100%;
							}
						}
						&.selected {
							border-bottom: 2px solid color("blue-grey", "base");
						}
					}
					.item-image {
						&.selected {
							border-bottom: 2px solid color("blue-grey", "base");
						}
					}
					.isotopes {
						.item {
						}
					}
					.range-field {
						margin: 0 0 0.75rem;
						input[type=range]{
							margin: 0;
						}
					}
				}
				.col-preview {
					width: 100%;
					padding: 0.75rem 0.75rem 60px;
					background-color: color("blue-grey", "lighten-5");
					.preview-folder {
						.svg-icon {
							width: 5rem;
							padding-bottom: 5rem;
							.svg-content {
								fill: color("blue-grey", "lighten-3");
							}
						}
						.material-icons {
							font-size: 100px;
							margin-left: -0.5rem;
							color: color("blue-grey", "lighten-3");
						}
					}
					.preview-image {
						max-width: 100%;
						max-height: 100%;
						width: auto;
						height: auto;
					}
					.preview-file {
						font-size: 5rem;
						color: color("blue-grey", "lighten-3");
					}
					.preview-data {
						color: color("blue-grey", "darken-2");
						dt {
							color: color("blue-grey", "lighten-2");
							text-transform: uppercase;
						}
						dd {
							margin-bottom: 0.75rem;
							padding-bottom: 0.75rem;
							border-bottom: 1px solid color("blue-grey", "lighten-4");
							word-break: break-all;
							&:last-of-type {
								border-bottom: none;
							}
						}
					}
					.no-asset-selected {
						text-align: center;
						color: color("blue-grey", "lighten-1");
						> span {
							display: inline-block;
							width: 100%;
						}
						.material-icons {
							font-size: 50px;
							color: color("blue-grey", "lighten-2");
						}
					}
				}
			}
			.modal-footer {
				display: flex;
				align-items: center;
				justify-content: space-between;
				background-color: #fff;
				color: color("blue-grey", "darken-2");
			}
		}
		
		.pathbrowser-footer-details {
			flex-grow: 1;
			padding-right: 10px;
			padding-left: 5px;
			display: flex;
			justify-content: space-between;
		}

		/* tablet styles */
		@media #{$medium-and-up} {
			&.modal-container {
				.modal-content {
					.col-browse {
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						right: auto;
						width: 66.66667%;
						overflow-y: auto;
						overflow-x: hidden;
						z-index: 1;
					}
					.col-preview {
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: auto;
						width: 33.33333%;
						overflow: auto;
					}
				}
				.modal-footer {
					z-index: 2;
				}
			}
		}
	}
}
