.panel-title {
  font-size: 1rem;
  font-weight: 500;
  color: $primary-color-dark;
  position: absolute;
  top: 0;
  left: 0;
  right: 45px;
  text-align: center;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

code,
kbd,
pre,
samp {
  font-family: "Source Code Pro", "Consolas", "Menlo", monospace;
}