$zindexDebugger: 10000;
$nav-full-height: 108px;
$spinner-default-color: var(--pcms-orange);

:root {
  --pcms-very-dark-green: #182022;
  --pcms-orange: #fe9701;
  --pcms-orange-hover: #ffc171;
  --pcms-gray: #b2b2b2;
  --pcms-blue-grey-darken-3: #37474f;
  --pcms-blue-grey: #607d8b;

  --info-bg: #0dcaf0;
  --info-color: #000;

  --success-bg: #198754;
  --success-color: #fff;

  --warn-bg: #ffc107;
  --warn-color: #000;

  --error-bg: #dc3545;
  --error-color: #fff;
}