.welcome-page {
	.welcome-page-logo {
    display: inline-block;
    width: 160px;
    max-width: 100%;
    margin-top: 20px;
  }
  @media(min-width: 601px) {
    .card .card-content p {
        min-height: 84px;
    }
  }
  @media(min-width: 768px) {
    .card .card-content p {
        min-height: 63px;
    }
  }
  @media(min-width: 993px) {
    .card .card-content p {
        min-height: 126px;
    }
  }
  @media(min-width: 1200px) {
    .card .card-content p {
        min-height: 110px;
    }
  }
  @media(min-width: 1400px) {
    .card .card-content p {
        min-height: 88px;
    }
  }
}
