<div class="row col-12 col-md-8 d-flex justify-content-center article">
  <div class="col-12 col-md p-0 pr-md-3">
    Eos blanditiis velit magnam deleniti quia repellat. Omnis aut nisi maiores voluptatem numquam fugiat dolor. Quis molestias
    quibusdam quidem vel ut illo sit deserunt fuga. Debitis ducimus fugit. Consequatur nihil nostrum et est distinctio. Quaerat
    deserunt perspiciatis necessitatibus ab debitis ipsam sunt excepturi enim.
  </div>
  <div class="col-12 col-md p-0 pl-md-3">
    Facere ratione quae qui id consectetur autem labore ratione. Et consequuntur ipsum illum. Minus corporis hic rem aliquid.
  </div>
  <div class="perIsEditAndEmpty">no content defined for component</div>
</div>