<div class="col-12 col-md-10">
	<div class="perIsEditAndEmpty">no content defined for component</div>

	<div class="row">
		<h2 class="text-center col-12 pb-4">Tabs</h2>
		<h3 class="text-center col-12 pb-4">subtitle</h3>
	</div>

	<div class="row justify-content-center">

		<div class="col col-md-auto pb-3">
			<img src="/content/themeclean/assets/images/jumbotron.jpg" width="100%">
		</div>

		<div class="col-12 col-md py-3 py-md-0 d-flex flex-column">
			<!-- Tab Nav -->
			<ul class="nav nav-pills d-flex justify-content-center" id="myTab" role="tablist">
			  <li class="nav-item">
				<a class="nav-link active" id="tab-control-1" data-toggle="pill" href="#tab1" role="tab" aria-controls="tab1" aria-expanded="true">TabName1</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" id="tab-control-2" data-toggle="pill" href="#tab2" role="tab" aria-controls="tab2">TabName2</a>
			  </li>
			</ul>
			<!-- Tab Content -->
			<div class="tab-content" id="myTabContent">
			  <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tablabel1">
				<div class="text-center py-3">
				  Nihil laborum aspernatur rerum harum ut eos consequatur incidunt. Modi vel inventore aut a. Porro sint doloribus. Sequi possimus
				  quis fugit. Doloremque quam corporis voluptatibus voluptatem sunt eos distinctio magnam aperiam. Est ad voluptatem
				  voluptate consequatur at magni qui id et.
				</div>
			  </div>
			  <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tablabel2">
				<div class="text-center py-3">
				  Natus cumque et repellendus cupiditate commodi officia aut nihil. Repellendus rerum rem minima nisi enim soluta. Eligendi
				  et animi ad dolorem qui dignissimos ratione cumque ratione.
				</div>
			  </div>
			</div>
		</div>
	</div>
</div>