$gray-input-bg:              color("blue-grey", "lighten-4") !default;
$danger-color:               color("red", "darken-2") !default;
$white-color:                #FFFFFF !default;

$form-placeholder-color:     color("blue-grey", "lighten-2") !default;

$card-black-color:          color("blue-grey", "darken-4") !default;

$border-thick:               2px !default;
$transparent-bg:             transparent !default;
$default-color:              color("blue-grey", "darken-2") !default;
$default-states-color:       color("blue-grey", "darken-3") !default;
$fill-font-color:            rgba(255, 255, 255, 0.85);

$fast-transition-time:           150ms !default;

$danger-states-color:        color("red", "darken-3") !default;

$font-weight-light:          300 !default;
$font-weight-normal:         400 !default;
$font-weight-bold:           600 !default;
