<!-- js includes required for this renderer -->

<sly data-sly-use.helper="apps.pagerendervue.structure.page.Helper"/>
<sly data-sly-include="/apps/pagerendervue/structure/page/renderer.html"/>
<script src="/etc/felibs/${helper.siteName}.js"></script>
<script>
    $peregrineApp.loadComponent('pagerendervue-components-placeholder')
    $peregrineApp.loadComponent('themeclean-components-block')
    $peregrineApp.loadComponent('themeclean-components-media')
    $peregrineApp.loadComponent('themeclean-components-mediavisible')
    $peregrineApp.loadComponent('themeclean-components-textlinks')
    $peregrineApp.loadComponent('themeclean-components-menubuttons')
    $peregrineApp.loadComponent('themeclean-components-socialicons')
    $peregrineApp.loadComponent('themeclean-components-pagelistnested')
</script>

