	<div class="text-white col-md-10 d-flex flex-column text-center">
		<h1 class="pb-3">Full Screen Intro</h1>
		<h3 class="pb-3">Full Screen Intro sub</h3>
		<p class="pb-3">At pariatur doloribus ullam a. Voluptatem excepturi numquam voluptatum ut ipsum quaerat. Magni voluptatum iste aut qui ut commodi dolorem soluta aut. Qui tempora quia alias cumque a ex nulla cum. Ut praesentium exercitationem temporibus et minima necessitatibus maxime.</p>
		<div class="d-flex justify-content-center">
			<a class="btn btn-lg btn-secondary m-2" href="" role="button">Learn More</a> 
			<a class="btn btn-lg btn-outline-light m-2" href="" role="button">Live Demo</a>
		</div>
	</div>