      <div class="card-deck justify-content-center">
        <div class="perIsEditAndEmpty">no content defined for component</div>
        <div class="col-12 col-md-6 col-lg p-0 pb-md-3">
          <div class="card p-0 border-0 d-flex flex-column justify-content-between h-100">
              <div>
                <img class="card-img pb-1" src="/content/themeclean/assets/images/015.jpg" alt="logo">
                <div class="card-body">
                  <h5 class="card-title">Odit</h5>
                  <p>
                    Maxime aperiam tempora sunt reprehenderit sapiente. Odit perspiciatis itaque sed. Dolores est et. Saepe cum libero eius. Qui omnis omnis. In vero delectus molestiae eum optio.
                  </p>
                </div>
              </div>
              <div class="text-center">
                <a href="#" class="btn mb-3">Click Me</a>
              </div>
          </div>
        </div>

        <div class="card p-0 col-12 col-md border-0">
            <img class="card-img pb-1" src="/content/themeclean/assets/images/015.jpg">
            <div class="card-body">
              <h5 class="card-title">Odit</h5>
              <p>
                Maxime aperiam tempora sunt reprehenderit sapiente. Odit perspiciatis itaque sed. Dolores est et. Saepe cum libero eius. Qui omnis omnis. In vero delectus molestiae eum optio.
              </p>
              <div class="text-center mb-3">
                <a href="#" class="btn btn-lg btn-primary">Click Me</a>
              </div>
            </div>
        </div>
        <div class="card p-0 col-12 col-md border-0">
            <img class="card-img pb-1" src="/content/themeclean/assets/images/015.jpg">
            <div class="card-body">
              <h5 class="card-title">Odit</h5>
              <p>
                Maxime aperiam tempora sunt reprehenderit sapiente. Odit perspiciatis itaque sed. Dolores est et. Saepe cum libero eius. Qui omnis omnis. In vero delectus molestiae eum optio.
              </p>
              <div class="text-center">
                <a href="#" class="btn btn-lg btn-primary">Click Me</a>
              </div>
            </div>
        </div>

      </div>