<!-- js includes required for this renderer -->

<sly data-sly-include="/apps/pagerendervue/structure/page/renderer.html"/>
<script src="/etc/felibs/uswds.js"></script>
<script>
    $peregrineApp.loadComponent('pagerendervue-components-placeholder')
    $peregrineApp.loadComponent('uswds-components-banner')
    $peregrineApp.loadComponent('uswds-components-sitetitle')
    $peregrineApp.loadComponent('uswds-components-navprimary')
    $peregrineApp.loadComponent('uswds-components-searchsmall')
</script>

