# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements. See the NOTICE file distributed with this
# work for additional information regarding copyright ownership. The ASF
# licenses this file to You under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations under
# the License.

scripts=[\
"
# This Repoinit Script is here to make sure that during an upgrade the necessary users
# and permissions are available
#
# ATTENTION: because of creating users and groups with path this script depends on org.apache.sling.jcr.repoinit-1.1.10
#

# Create the necessary folders to apply permissions below otherwise the Launchpad will fail during startup

    create path (sling:Folder) /apps
    create path (sling:Folder) /content
    create path (sling:Folder) /etc
    create path (sling:Folder) /etc/felibs
    create path (sling:Folder) /etc/packages

# Create the two Peregrine Service Users
    create service user peregrine-service-user
    create service user nodejs-service-user

# Set Permission for Peregrine Services

    set ACL for peregrine-service-user
        allow jcr:all on /apps
        allow jcr:all on /content
        allow jcr:all on /etc/felibs
        allow jcr:all on /etc/packages
        allow jcr:all on /home
    end

# Create Tenant Groups for Peregrine

    create group all_tenants with path /home/groups/tenants
"\
]
