
<div id="content-n5e0e4a6a-ffcd-4b70-a279-8e99f9c5b2f4" class="carousel slide" ref="pcmscarousel">

  <ol class="carousel-indicators">
    <li data-target="#content-n5e0e4a6a-ffcd-4b70-a279-8e99f9c5b2f4" data-slide-to="0"></li>
    <li data-target="#content-n5e0e4a6a-ffcd-4b70-a279-8e99f9c5b2f4" data-slide-to="1" class=""></li>
    <li data-target="#content-n5e0e4a6a-ffcd-4b70-a279-8e99f9c5b2f4" data-slide-to="2" class="active"></li>
  </ol>

  <div role="listbox" class="carousel-inner">
    <div class="carousel-item">
      <div class="d-flex flex-column justify-content-center">
        <img class="percms-carousel-image" src="/content/assets/themeclean/images/background1.jpg">
      </div>
      <div class="carousel-caption">
        <h3>Slide One</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-flex align-items-center">
        <img src="/content/assets/themeclean/images/background2.jpg">
      </div>
      <div class="carousel-caption">
        <h3>Slide Two</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
      </div>
    </div>
    <div class="carousel-item active">
      <img src="/content/assets/themeclean/images/background3.jpg">
      <div class="carousel-caption">
        <h3>Slide Three</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
      </div>
    </div>
  </div>

  <a href="#content-n5e0e4a6a-ffcd-4b70-a279-8e99f9c5b2f4" role="button" data-slide="prev" class="carousel-control-prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a href="#content-n5e0e4a6a-ffcd-4b70-a279-8e99f9c5b2f4" role="button" data-slide="next" class="carousel-control-next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>