<nav class="container navbar align-items-center navbar-light">

  <!-- Logo -->
  <span class="navbar-logo">
   <a href="http://www.peregrine-cms.com">
    <img class="menu-logo" src="/assets/images/logo2.png" alt="logo" style="height: 3.8rem">
   </a>
  </span>

  <!-- Hamburger toggle button -->
  <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false"
    aria-controls="collapseExample">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible Menu -->
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    
    <div class="textlink"></div>

    <div class="menubutton"></div>
  
  </div>


</nav>