<div>
    <div v-bind:data-per-path="model.path">
        <article v-if="postView">
            <h2>{{currentPost.title}}</h2>
            {{currentPost['jcr:created']}} by {{currentPost.author}}
            <div v-html="currentPost.lead"></div>
            <div v-html="currentPost.text"></div>
        </article>
        <article v-else v-for="post in app.posts['__children__']">
            <h2>{{post.title}}</h2>
            <div v-html="post.lead"></div>
            <a v-bind:href="'index.html/post//'+post['__name__']">more</a>
        </article>
    </div>
</div>