.per-drop-target {
    display: none;
}
.per-drop-target-empty {
    display: none;
}
.edit-mode .per-drop-target {
    display: inherit;
    border: 1px dashed #c0c0c0;
    clear: both;
    padding: 4px;
    margin: 4px;
    text-align: center;
    width: calc(100% - 8px);
    white-space: nowrap;
    text-overflow: ellipsis;
    color: black !important;
    overflow: hidden;
    font-size: 0.75em;
    background: #f8f8f8e0;
}
.edit-mode .per-drop-target-empty {
    display: inherit;
    font-size: 1.5em;
    height: 3em;
    padding-top: 0.75em;
}