<div class="col-12 col-md-10">
	<div class="perIsEditAndEmpty">no content defined for component</div>
	<h2 class="text-center pb-4">Toggle with media</h2>

	<div class="row">
		<div class="col-12 col-md-auto p-0 pb-3 p-md-3">
			<img src="/content/themeclean/assets/images/jumbotron.jpg" width="100%">
		</div>
		<!-- Card Container -->
		<div class="col-12 col-md p-0 border-0">

			<!-- Card Items -->
			<div class="item card bg-transparent border-0">

				<a aria-expanded="false" class="d-flex justify-content-between align-items-center card-header border-0 bg-transparent px-3" ref="collapsible" data-toggle="collapse">
					<h4></h4>
					<i class="fa fa-chevron-down" aria-hidden="true"></i>
				</a>
				<div class="collapse" role="tabpanel">
					<div class="card-body p-0 px-3 bg-transparent border-0">Toggle content 1</div>
				</div>

			</div>
		</div>
	</div>
</div>
