<div class="container">
	<div class="perIsEditAndEmpty">no content defined for component</div>
	<h2 class="text-center pb-4">Toggle with media</h2>
	<div class="row col-12 p-0 d-md-flex flex-wrap justify-content-center">
		<div class="percms-image-wrap px-3">
			<div class="media">
				<img src="/assets/images/jumbotron.jpg" width="100%">
			</div>
		</div>
		<div class="col-sm-12 col-md">
			<div class="item card bg-transparent border-0 rounded-0">
				<a aria-expanded="false" class="card-header border rounded-0" data-toggle="collapse">Toggle item 1</a>
				<div class="collapse rounded-0" role="tabpanel">
					<div class="card-body rounded-0">Toggle content 1</div>
				</div>
			</div>
		</div>
	</div>
</div>
