<div class="col-12 col-md-8" id="exampleAccordion">

  <h2 class="text-center">Title</h2>
  <div class="item card border-0">
    <a class="card-header border rounded-0" data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion1"
      aria-expanded="true" aria-controls="exampleAccordion1">
      Toggle item
    </a>
    <div id="exampleAccordion1" class="collapse" role="tabpanel">
      <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium lorem non vestibulum scelerisque. Proin a vestibulum
        sem, eget tristique massa. Aliquam lacinia rhoncus nibh quis ornare.
        </p>
      </div>
    </div>
  </div>

  <div class="item card border-0">
    <a class="card-header border rounded-0" data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion2"
      aria-expanded="false" aria-controls="exampleAccordion2">
      Toggle item 2
    </a>
    <div id="exampleAccordion2" class="collapse" role="tabpanel">
      <div class="card-body"></div>
      Donec at ipsum dignissim, rutrum turpis scelerisque, tristique lectus. Pellentesque habitant morbi tristique senectus et
      netus et malesuada fames ac turpis egestas. Vivamus nec dui turpis. Orci varius natoque penatibus et magnis dis parturient
      montes, nascetur ridiculus mus.
    </div>
  </div>