<footer class="col-12">
  <div class="row justify-content-between text-center text-md-left">
    <div class="col-12 col-md-auto">
      <a href="http://www.peregrine-cms.com">
        <img src="/content/themeclean/assets/images/logo2.png" class="mb-3" alt="logo" style="height:6rem;">
      </a>
    </div>

    <div class="col-12 col-md pb-3 pb-md-0">
      <h5 class="">Address</h5>
      <div>
        1234 Street Name
        <br> City, AA 1234
      </div>
    </div>

  </div>
  
  <hr>
  <div class="row text-center text-md-left py-2">
    <div class="col-md-6">
      <p>
        © Copyright 2017 Peregrine - All Rights Reserved
      </p>
    </div>
    <themeclean-components-socialicons v-bind:model="model" />
  </div>
  <div v-if="isEditAndEmpty">no content defined for component</div>
</footer>