<!DOCTYPE html><sly data-sly-use.helper="apps.pagerender.vue.structure.page.Helper"/>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>${resource.jcr:title}</title>

    <sly data-sly-include="styles.html"></sly>

    <sly data-sly-list="${helper.model.siteCSS}">
        <link rel="stylesheet" href="${item}" type="text/css">
    </sly>

    <link rel="stylesheet" href="/etc/felibs/admin.css" type="text/css">

</head>
<body>

<div id="peregrine-adminapp">
    <span v-cloak>
        <component v-bind:is="adminPage.component" v-bind:model="adminPage"></component>
    </span>
</div>

<sly data-sly-list="${helper.model.siteJS}">
    <script type="text/javascript" src="${item}"></script>
</sly>

<sly data-sly-include="renderer.html"></sly>
<script>
    // switch between old and new implementation
    var newImpl = true
    var $perAdminView = { state: {}, adminPage: {}, adminPageStaged: {}, admin: {}, pageView: {}, nodes: {} }

    if(newImpl) {
        // define a couple of extra vue components that are used by components
        // but not in the tree of auto loaded components
        $perAdminApp.loadComponent('admin-components-iconaction')
        $perAdminApp.loadComponent('admin-components-action')
        $perAdminApp.loadComponent('pagerender-vue-components-placeholder')

        // init peregrine admin app
        $perAdminApp.init($perAdminView)
        $perAdminApp.loadContent(document.location.pathname, true)
    } else {
        loadContent(document.location, true);
    }
</script>
</body>
</html>