<!DOCTYPE html><sly data-sly-use.helper="apps.pagerendervue.structure.page.Helper"/>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#c0c0c0">
    <meta name="description" content="${helper.model.description}">
    <meta name="keywords" content="${helper.model.tags}">

    <title>${resource.jcr:title}</title>

    <link rel="manifest" href="${helper.siteRootPath}/manifest.json">
    <script>$peregrineSiteRoot = "${helper.siteRootPath @ context='unsafe'}"</script>

    <sly data-sly-include="tracker-head.html"></sly>

    <sly data-sly-include="styles.html"></sly>

    <sly data-sly-list="${helper.model.siteCSS}">
        <link rel="stylesheet" href="${item}" type="text/css">
    </sly>

    <script type="text/javascript">
        if(/MSIE \d|Trident.*rv:/.test(navigator.userAgent))
            document.write('<script src="/etc/felibs/pagerendervue/conditional-js/shim.min.js"><\/script>');
    </script>

    <script>
        var $perView = { view: 'preview' };
    </script>

</head>
<body>
<sly data-sly-include="tracker-bodystart.html"></sly>
<div id="peregrine-app">
    <span v-cloak>
        <component v-bind:is="page.component" v-bind:model="page"></component>
    </span>
</div>

<sly data-sly-list="${helper.model.siteJS}">
    <script type="text/javascript" src="${item}"></script>
</sly>

<sly data-sly-include="renderer.html"></sly>

<script>
    $peregrineApp.registerView($perView)
    $peregrineApp.getView().app = {}
    $peregrineApp.loadContent("${resource.parent.path @ context='unsafe'}.html", true)
</script>
<sly data-sly-include=serviceworker.html"></sly>
<sly data-sly-include=tracker-bodyend.html"></sly>
</body>
</html>