<!-- js includes required for this renderer -->

<script src="/etc/felibs/admin/dependencies/axios/axios.min.js"></script>
<script src="/etc/felibs/admin/dependencies/vue/vue.js"></script>

<script src="/etc/felibs/admin/dependencies.js"></script>
<script src="/etc/felibs/admin.js"></script>

<script src="/etc/felibs/pagerendervue.js"></script>
<script src="/etc/felibs/marketplace.js"></script>

<script>
    $perAdminApp.loadComponent('admin-components-action')
    $perAdminApp.loadComponent('admin-components-logo')
    $peregrineApp.loadComponent('pagerendervue-components-placeholder')
</script>

