  <div class="col-12 col-md-8 border border-right-0 border-bottom-0 border-top-0 article">
    <div class="perIsEditAndEmpty">no content defined for component</div>
    <blockquote class="blockquote pl-3">
      Consequuntur unde ipsum. Ullam ut voluptates laboriosam numquam voluptatem molestias. Quod quaerat ipsam. Nisi dolorem minus
      blanditiis necessitatibus magnam. Asperiores est qui et assumenda. Magnam molestiae eveniet. Rerum eos ut cum maxime
      ex. Non porro occaecati et quibusdam animi atque sunt.
    </blockquote>
  </div>