<div>
    <header class="usa-header usa-header-basic" role="banner">
        <uswds-components-banner v-bind:model="model"></uswds-components-banner>
        <div class="usa-nav-container">
            <uswds-components-sitetitle v-bind:model="model"></uswds-components-sitetitle>
            <nav role="navigation" class="usa-nav">
                <uswds-components-navprimary v-bind:model="model"></uswds-components-navprimary>
                <uswds-components-searchsmall v-bind:model="model"></uswds-components-searchsmall>
            </nav>
        </div>
    </header>
    <div class="usa-overlay"></div>
</div>
